*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 30px;
}
.container{ 
  padding: 1px;
  display: grid;
  grid-gap:5px;
  grid-template-rows:200px 400px 100px;
  align-content: stretch;
}

#ramaiah{
  display: table;
  margin: 0 auto;
  max-width: 100%;
  max-height: 100%;
}
.grid-item{
}
.item-2{
  display: grid;
  justify-content: center;
  align-content: center;
}
.item-3{
  text-align: center;
}


body {
  font-family: 'Open Sans', sans-serif;
  background-color: #6dbdf3;
}

.login {
  width: 400px;
  font-size: 12px;
}

/* Reset top and bottom margins from certain elements */
.login-header,
.login p {
  margin-top: 0;
  margin-bottom: 0;
}


.login-header {
  background: #28d;
  padding: 10px;
  font-size: 1.9em;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

.login-container {
  height: 300px;
  background: #ebebeb;
  padding: 8px;
  display: grid;


}

/* Every row inside .login-container is defined with p tags */
.login p {
  padding: 8px;
}

.login input {
  box-sizing: border-box;
  display: block;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  padding: 10px;
  outline: 0;
  font-family: inherit;
  font-size: 0.6em;
}

.login input[type="email"],
.login input[type="password"] {
  background: #fff;
  border-color: #bbb;
  color: #555;
}

/* Text fields' focus effect */
.login input[type="email"]:focus,
.login input[type="password"]:focus {
  border-color: #888;
}

.login input[type="submit"] {
  background: #28d;
  border-color: transparent;
  color: #fff;
  cursor: pointer;
}

.login input[type="submit"]:hover {
  background: #17c;
}

/* Buttons' focus effect */
.login input[type="submit"]:focus {
  border-color: #05a;
}

.lol{
  height: 40px;
  text-align: center;
  font-size: 17px;
  padding: 13px;
  color:#17c;
}
.b, #troll{
  visibility: hidden;
  height: 70px;
  width: 100px;
  padding: 0;
  justify-self: center;
  max-height: 100%
  max-width:100%;
}

#popup{
  position: absolute;
  border: 1px dotted;
  height: 200px !important;
  width: 300px !important;
  left: 50%;
  top: 50%;
  background-color: white;
}
